In [2]:
import pandas as pd    
df = pd.DataFrame([1,3,5,12,6,8],[10,11,12,20,50,8])
df

     0
10   1
11   3
12   5
20  12
50   6
8    8

In [ ]:
df = pd.DataFrame({'A':[1,3,5,12,6,8],'B':[10,11,12,20,50,8]},index=[0,1,2,3,4,5])
df

    A   B
0   1  10
1   3  11
2   5  12
3  12  20
4   6  50
5   8   8

In [ ]:
df = pd.DataFrame({'a':[1,2,4,8],'b':[5,6,9,8],'c':[11,12,30,14]})
df                             #all the arrays or columns must be of same length means the number of elements within a particular column must be same as all the others

   a  b   c
0  1  5  11
1  2  6  12
2  4  9  30
3  8  8  14

In [ ]:
df = pd.DataFrame({'X':[78,85,96,80,86],'Y':[84,94,89,83,96],'Z':[86,96,96,72,83]})
df

    X   Y   Z
0  78  84  86
1  85  94  96
2  96  89  96
3  80  83  72
4  86  96  83

In [ ]:
import numpy as np
exam_data = pd.DataFrame({'attempts':[1,3,2,3,2,3,1,1,2,1],'name':['Anastasia','Dima','katherine','James','Emily','Michael','Matthew','Laura','Kevin','Jonas'],'qualify':['yes','no','yes','no','no','yes','yes','no','no','yes'],'score':[12.5,9,16.5,np.nan,9,20,14.5,np.nan,8,19]},index=['a','b','c','d','e','f','g','h','i','j'])
exam_data

   attempts       name qualify  score
a         1  Anastasia     yes   12.5
b         3       Dima      no    9.0
c         2  katherine     yes   16.5
d         3      James      no    NaN
e         2      Emily      no    9.0
f         3    Michael     yes   20.0
g         1    Matthew     yes   14.5
h         1      Laura      no    NaN
i         2      Kevin      no    8.0
j         1      Jonas     yes   19.0

In [ ]:
exam_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 10 entries, a to j
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   attempts  10 non-null     int64
 1   name      10 non-null     object
 2   qualify   10 non-null     object
 3   score     8 non-null      float64
dtypes: float64(1), int64(1), object(2)
memory usage: 400.0+ bytes

In [ ]:
exam_data.iloc[:3]     # OR   df.head(3)  will work as well

   attempts       name qualify  score
a         1  Anastasia     yes   12.5
b         3       Dima      no    9.0
c         2  katherine     yes   16.5

In [ ]:
exam_data.iloc[:,1:4:2]

        name  score
a  Anastasia   12.5
b       Dima    9.0
c  katherine   16.5
d      James    NaN
e      Emily    9.0
f    Michael   20.0
g    Matthew   14.5
h      Laura    NaN
i      Kevin    8.0
j      Jonas   19.0

In [ ]:
exam_data.iloc[[1,3,5,6],[3,2]]

   score qualify
b    9.0      no
d    NaN      no
f   20.0     yes
g   14.5     yes

In [ ]:
exam_data['attempts']>2

a    False
b     True
c    False
d     True
e    False
f     True
g    False
h    False
i    False
j    False
Name: attempts, dtype: bool

In [ ]:
exam_data[exam_data['attempts']>2]

   attempts     name qualify  score
b         3     Dima      no    9.0
d         3    James      no    NaN
f         3  Michael     yes   20.0

In [ ]:
len(exam_data)    # number of rows

10

In [ ]:
len(exam_data.columns)     # number of columns

4

In [ ]:
exam_data[exam_data['score'].isna()]

   attempts   name qualify  score
d         3  James      no    NaN
h         1  Laura      no    NaN

In [ ]:
exam_data[(exam_data['score']>15) & (exam_data['score']<=20)]

   attempts       name qualify  score
c         2  katherine     yes   16.5
f         3    Michael     yes   20.0
j         1      Jonas     yes   19.0

In [ ]:
exam_data[(exam_data['attempts']<2) & (exam_data['score']>15)]

   attempts   name qualify  score
j         1  Jonas     yes   19.0

In [ ]:
exam_data.loc['d','score']=11.5
exam_data

   attempts       name qualify  score
a         1  Anastasia     yes   12.5
b         3       Dima      no    9.0
c         2  katherine     yes   16.5
d         3      James      no   11.5
e         2      Emily      no    9.0
f         3    Michael     yes   20.0
g         1    Matthew     yes   14.5
h         1      Laura      no    NaN
i         2      Kevin      no    8.0
j         1      Jonas     yes   19.0

In [ ]:
exam_data=pd.DataFrame({'attempts':[1,3,2,3,2,3,1,1,2,1],'name':['Anastasia','Dima','katherine','James','Emily','Michael','Matthew','Laura','Kevin','Jonas'],'qualify':['yes','no','yes','no','no','yes','yes','no','no','yes'],'score':[12.5,9,16.5,np.nan,9,20,14.5,np.nan,8,19]},index=['a','b','c','d','e','f','g','h','i','j'])
exam_data   # DONT INCLUDE THIS

   attempts       name qualify  score
a         1  Anastasia     yes   12.5
b         3       Dima      no    9.0
c         2  katherine     yes   16.5
d         3      James      no    NaN
e         2      Emily      no    9.0
f         3    Michael     yes   20.0
g         1    Matthew     yes   14.5
h         1      Laura      no    NaN
i         2      Kevin      no    8.0
j         1      Jonas     yes   19.0

In [ ]:
exam_data['attempts'].sum()

19

In [ ]:
exam_data['score'].mean()

13.5625

In [ ]:
exam_data.loc['k']=[1,'Suresh','yes',15.5]
exam_data

   attempts       name qualify  score
a         1  Anastasia     yes   12.5
b         3       Dima      no    9.0
c         2  katherine     yes   16.5
d         3      James      no    NaN
e         2      Emily      no    9.0
f         3    Michael     yes   20.0
g         1    Matthew     yes   14.5
h         1      Laura      no    NaN
i         2      Kevin      no    8.0
j         1      Jonas     yes   19.0
k         1     Suresh     yes   15.5

In [ ]:
exam_data = exam_data.drop('k')

In [ ]:
exam_data

   attempts       name qualify  score
a         1  Anastasia     yes   12.5
b         3       Dima      no    9.0
c         2  katherine     yes   16.5
d         3      James      no    NaN
e         2      Emily      no    9.0
f         3    Michael     yes   20.0
g         1    Matthew     yes   14.5
h         1      Laura      no    NaN
i         2      Kevin      no    8.0
j         1      Jonas     yes   19.0

In [ ]:
exam_data.sort_values('name', ascending = False)

   attempts       name qualify  score
c         2  katherine     yes   16.5
f         3    Michael     yes   20.0
g         1    Matthew     yes   14.5
h         1      Laura      no    NaN
i         2      Kevin      no    8.0
j         1      Jonas     yes   19.0
d         3      James      no    NaN
e         2      Emily      no    9.0
b         3       Dima      no    9.0
a         1  Anastasia     yes   12.5

In [ ]:
exam_data.sort_values('qualify', ascending = False)

   attempts       name qualify  score
a         1  Anastasia     yes   12.5
c         2  katherine     yes   16.5
f         3    Michael     yes   20.0
g         1    Matthew     yes   14.5
j         1      Jonas     yes   19.0
b         3       Dima      no    9.0
d         3      James      no    NaN
e         2      Emily      no    9.0
h         1      Laura      no    NaN
i         2      Kevin      no    8.0

In [ ]:
exam_data.sort_values(['qualify','attempts'], ascending = [False, True])

   attempts       name qualify  score
a         1  Anastasia     yes   12.5
g         1    Matthew     yes   14.5
j         1      Jonas     yes   19.0
c         2  katherine     yes   16.5
f         3    Michael     yes   20.0
h         1      Laura      no    NaN
e         2      Emily      no    9.0
i         2      Kevin      no    8.0
b         3       Dima      no    9.0
d         3      James      no    NaN

In [ ]:
exam_data = exam_data.replace(['yes','no'], [True,False])
#df = df.replace('yes', True)
#df = df.replace('no', False)
exam_data

   attempts       name  qualify  score
a         1  Anastasia     True   12.5
b         3       Dima    False    9.0
c         2  katherine     True   16.5
d         3      James    False    NaN
e         2      Emily    False    9.0
f         3    Michael     True   20.0
g         1    Matthew     True   14.5
h         1      Laura    False    NaN
i         2      Kevin    False    8.0
j         1      Jonas     True   19.0

In [ ]:
exam_data.loc['d', 'name'] = 'Suresh'
exam_data

   attempts       name  qualify  score
a         1  Anastasia     True   12.5
b         3       Dima    False    9.0
c         2  katherine     True   16.5
d         3     Suresh    False    NaN
e         2      Emily    False    9.0
f         3    Michael     True   20.0
g         1    Matthew     True   14.5
h         1      Laura    False    NaN
i         2      Kevin    False    8.0
j         1      Jonas     True   19.0

In [ ]:
exam_data.drop('attempts', axis = 1, inplace = True)
exam_data

        name  qualify  score
a  Anastasia     True   12.5
b       Dima    False    9.0
c  katherine     True   16.5
d     Suresh    False    NaN
e      Emily    False    9.0
f    Michael     True   20.0
g    Matthew     True   14.5
h      Laura    False    NaN
i      Kevin    False    8.0
j      Jonas     True   19.0

In [ ]:
exam_data = exam_data.assign(color = ['red', 'blue', 'green', 'red', 'blue', 'green', 'red', 'blue', 'green', 'red'])
exam_data

        name  qualify  score  color
a  Anastasia     True   12.5    red
b       Dima    False    9.0   blue
c  katherine     True   16.5  green
d     Suresh    False    NaN    red
e      Emily    False    9.0   blue
f    Michael     True   20.0  green
g    Matthew     True   14.5    red
h      Laura    False    NaN   blue
i      Kevin    False    8.0  green
j      Jonas     True   19.0    red

In [ ]:
exam_data=pd.DataFrame({'attempts':[1,3,2,3,2,3,1,1,2,1],'name':['Anastasia','Dima','katherine','James','Emily','Michael','Matthew','Laura','Kevin','Jonas'],'qualify':['yes','no','yes','no','no','yes','yes','no','no','yes'],'score':[12.5,9,16.5,np.nan,9,20,14.5,np.nan,8,19]},index=['a','b','c','d','e','f','g','h','i','j'])
exam_data   # dont include this

   attempts       name qualify  score
a         1  Anastasia     yes   12.5
b         3       Dima      no    9.0
c         2  katherine     yes   16.5
d         3      James      no    NaN
e         2      Emily      no    9.0
f         3    Michael     yes   20.0
g         1    Matthew     yes   14.5
h         1      Laura      no    NaN
i         2      Kevin      no    8.0
j         1      Jonas     yes   19.0

In [ ]:
for i in range(len(exam_data)):
  print(exam_data.iloc[i, :])

attempts            1
name        Anastasia
qualify           yes
score            12.5
Name: a, dtype: object
attempts       3
name        Dima
qualify       no
score        9.0
Name: b, dtype: object
attempts            2
name        katherine
qualify           yes
score            16.5
Name: c, dtype: object
attempts        3
name        James
qualify        no
score         NaN
Name: d, dtype: object
attempts        2
name        Emily
qualify        no
score         9.0
Name: e, dtype: object
attempts          3
name        Michael
qualify         yes
score          20.0
Name: f, dtype: object
attempts          1
name        Matthew
qualify         yes
score          14.5
Name: g, dtype: object
attempts        1
name        Laura
qualify        no
score         NaN
Name: h, dtype: object
attempts        2
name        Kevin
qualify        no
score         8.0
Name: i, dtype: object
attempts        1
name        Jonas
qualify       yes
score        19.0
Name: j, dtype: object

In [ ]:
list(exam_data.columns)

['attempts', 'name', 'qualify', 'score']

In [ ]:
df = pd.DataFrame({'col1' : [1,2,3], 'col2' : [4, 5, 6], 'col3' : [7, 8, 9]})
df

   col1  col2  col3
0     1     4     7
1     2     5     8
2     3     6     9

In [ ]:
df.rename(columns = {'col1' : 'Column1', 'col2' : 'Column2', 'col3' : 'Column3'}, inplace = True)
df

   Column1  Column2  Column3
0        1        4        7
1        2        5        8
2        3        6        9

In [ ]:
df[df['Column3']==9]

   Column1  Column2  Column3
2        3        6        9

In [ ]:
df = df[['Column3', 'Column2', 'Column1']]
df

   Column3  Column2  Column1
0        7        4        1
1        8        5        2
2        9        6        3

In [ ]:
dict = {'Column3' : 10, 'Column2' : 11, 'Column1' : 12}
df = df.append(dict, ignore_index = True)
df

   Column3  Column2  Column1
0        7        4        1
1        8        5        2
2        9        6        3
3       10       11       12

In [ ]:
df.drop(1, inplace = True)
df

   Column3  Column2  Column1
0        7        4        1
2        9        6        3
3       10       11       12

In [ ]:
print(df.iloc[2, :])

Column3    10
Column2    11
Column1    12
Name: 3, dtype: int64

In [ ]:
exam_data[exam_data['score'].isna()]=0
exam_data

   attempts       name qualify  score
a         1  Anastasia     yes   12.5
b         3       Dima      no    9.0
c         2  katherine     yes   16.5
d         0          0       0    0.0
e         2      Emily      no    9.0
f         3    Michael     yes   20.0
g         1    Matthew     yes   14.5
h         0          0       0    0.0
i         2      Kevin      no    8.0
j         1      Jonas     yes   19.0

In [ ]:
exam_data.index = [1,2,3,4,5,6,7,8,9,10]
exam_data

    attempts       name qualify  score
1          1  Anastasia     yes   12.5
2          3       Dima      no    9.0
3          2  katherine     yes   16.5
4          0          0       0    0.0
5          2      Emily      no    9.0
6          3    Michael     yes   20.0
7          1    Matthew     yes   14.5
8          0          0       0    0.0
9          2      Kevin      no    8.0
10         1      Jonas     yes   19.0